{% extends '../base.html' %}
{% load static %}

{% block title %}
Bloggs - Delete
{% endblock %}

{% block content %}
<div class="main-create container-fluid d-flex flex-column justify-content-evenly align-items-center">
    <h1 class="main-h1">Edit Post</h1>
    <div class="container p-2 border border-primary rounded create-form-container">
        <form method="post" action="{% url 'delete' blog_id=blog.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="title" class="font-weight-bold">Title</label>
                <input type="text" class="form-control" id="title" name="title-post" aria-describedby="titleHelp" value="{{ blog.title }}">
            </div>
            <div class="form-group">
                <label for="content" class="font-weight-bold">Content</label>
                <textarea class="form-control" id="content" rows="3" name="content-post">{{ blog.content }}</textarea>
            </div>
            <div class="d-flex few-row justify-content-center align-items-center mt-3 create-post-btns-div">
                <button type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}