{% extends '../base.html' %}
{% load static %}

{% block title %}
Bloggs - Home
{% endblock %}

{% block content %}
<div class="main-landing container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="main-h1"><span>Welcome</span> to bloggs</h1>
    <h2 class="my-5 main-h2">Today's <span>Gossip</span> is Tomorrow's <span>News</span></h2>
    <div class="container-fluid d-flex flex-row justify-space-around px-4">
        <div>
            <img src="{% static 'blogs/images/img-1.png' %}" class="img-thumbnail">
        </div>
        <div>
            <img src="{% static 'blogs/images/img-2.png' %}" class="img-thumbnail">
        </div>
    </div>
    <div class="main-btns-div container-fluid d-flex flex-row justify-content-around px-4 my-5">
        <div>
            <a href="{% url 'signup' %}"><button>Sign Up</button></a>
        </div>
        <div>
            <a href="{% url 'login' %}"><button>Log In</button></a>
        </div>
    </div>
</div>
{% endblock %}