{% extends '../base.html' %}
{% load static %}

{% block title %}
Bloggs - Profile
{% endblock %}

{% block content %}
<div class="main-profile container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="main-h1">Your Profile</h1>
    <div class="container d-flex flex-row justify-content-between align-items-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">Personal Information</h3>
              <p class="card-text">Username: {{user.username}}</p>
              <p class="card-text">Username: {{user.email}}</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">Your Activity</h3>
              <p class="card-text">Blogs: {{ blogs|length }}</p>
              <p class="card-text">Last posted on: {{ latest_blog.created_at }}</p>
              <p class="card-text">Last blog Posted: {{ latest_blog.title }}</p>
              <p class="card-text">Total Likes on posts: {{ total_likes }}</p>
            </div>
        </div>

    </div>
</div>
{% endblock %}