{% extends '../base.html' %}
{% load static %}

{% block title %}
Bloggs - Read
{% endblock %}

{% block content %}
<div class="main-read container-fluid d-flex flex-column justify-content-top align-items-left mt-5 p-5">
    {% if user.id == blog.user.id %}
        <div class="d-flex flex-row justify-content-left align-items-center">
            <h1 class="read-h1">{{ blog.title }}</h1>
        </div>
        <br>
        <div class="d-flex flex-column align-items-left">
            <div class="post-author">
                <p>Author: <a href="#">{{ blog.user.username }}</a></p>
            </div>
            <div>
                <p>Published On: {{ blog.created_at }}</p>
            </div>
        </div>
        <div class="post-content container px-5">
            <p>{{ blog.content }}</p>
        </div>
        <div class="read-btn-div">
            <a href="{% url 'home' %}"><button>Home</button></a>
        </div>
    {% else %}
        <div class="d-flex flex-row justify-content-left align-items-center">
            <h1 class="read-h1">{{ blog.title }}</h1>
            <div class="px-5">
                <a href="{% url 'like' user.pk blog.pk %}"><h1>Like</h1></a>
            </div>
        </div>
        <br>
        <div class="d-flex flex-column align-items-left">
            <div class="post-author">
                <p>Author: <a href="#">{{ blog.user.username }}</a></p>
            </div>
            <div>
                <p>Published On: {{ blog.created_at }}</p>
            </div>
        </div>
        <div class="post-content container px-5">
            <p>{{ blog.content }}</p>
        </div>
        <div class="read-btn-div">
            <a href="{% url 'home' %}"><button>Home</button></a>
        </div>
    {% endif %}
</div>
{% endblock %}